VITE_SUPABASE_URL=https://lynzhatcrgdnfarkphfn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5bnpoYXRjcmdkbmZhcmtwaGZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyNzQwMjAsImV4cCI6MjA4ODg1MDAyMH0.MJ7BtG8TSvJzszSAAYB1vhZPGRUYo7UXa666hPn-npU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5bnpoYXRjcmdkbmZhcmtwaGZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyNzQwMjAsImV4cCI6MjA4ODg1MDAyMH0.MJ7BtG8TSvJzszSAAYB1vhZPGRUYo7UXa666hPn-npU
